<div class="about-background">
    <h1 class="about-text text-center"> About Us </h1>
</div>

<div class="about-background-2">
<h1 class="about-text2 text-center"> "We all about creating a community who like to discuss on anything. We need someone like you to create any topics of discussion and give your thoughts on it! It could be about Cars, Sports, Travels, Techs, or anything! Try it now for free!" </h1>
</div>
<!--<p> We all about creating a community who like to discuss on anything. We need someone like you to create topics of discussion on anything! It could be about Cars, Sports, Travels, Techs, and infinite list of topics! </p>
