.topic{


}

.topic-background {
  background-image: asset-url("discussion.jpeg");
  height: 50vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic-text{
  color: white;
}

.topic-parent{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  justify-content: center;
}

.topic-child{
  flex: 0 0 280px;
  margin: 20px 10px;
  border-style: solid;
  border-color: green;
}

.topic-button{
  align-items: center;

}
