.topic-background {
  background-image: asset-url("jump.jpeg");
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topic-text{
  color: white;
}

.topic-parent{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.topic-child{
  flex: 0 0 300px;
  width: 100px;
  border-style: solid;
  border-color: green;
}
