<h1>Posts</h1>

<!-- <h1 class="topic-button text-center">
  <%= link_to "Create New Post", new_topic_post_path%>
</h1> -->

<div id= "posts">
<% @posts.each do |post| %>
  <%= render partial: "post", locals: {post: post, topic: @topic} %>
<% end %>
</div>

<div id= "posts-form-container">
  <%= render partial: "form", locals: {post: @post, topic: @topic} %>

</div>



<!--read more code from other, pair programming more, network more  -->
